In [1]:
import pandas as pd
import psycopg2
from tqdm import tqdm

# Load the data from CSV
data = pd.read_csv('latest_data.csv')

# Connect to the PostgreSQL database
conn = psycopg2.connect(
    "postgresql://luminous_owner:4wspbCRQ2IzV@ep-super-silence-a8xj3bsn.eastus2.azure.neon.tech/luminous?sslmode=require"
)
cursor = conn.cursor()

# Create table if it doesn't exist
cursor.execute("""
CREATE TABLE IF NOT EXISTS solar_data_3 (
    send_date TIMESTAMP,
    solar_power_kw FLOAT,
    solar_energy_generation_kwh FLOAT,
    consumption_value_kw FLOAT,
    device_1_consumption_kw FLOAT,
    device_2_consumption_kw FLOAT,
    device_3_consumption_kw FLOAT,
    device_4_consumption_kw FLOAT,
    tou_rates_inr FLOAT,
    predicted_solar_energy_generation_kwh FLOAT,
    predicted_tou_rates_inr FLOAT,
    cumulative_energy_consumption FLOAT
);
""")

# Prepare the SQL insert statement
insert_query = """
    INSERT INTO solar_data_3 (send_date, solar_power_kw, solar_energy_generation_kwh, consumption_value_kw, 
                               device_1_consumption_kw, device_2_consumption_kw, device_3_consumption_kw, 
                               device_4_consumption_kw, tou_rates_inr, predicted_solar_energy_generation_kwh, 
                               predicted_tou_rates_inr, cumulative_energy_consumption)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

# Iterate over the DataFrame and insert each row into the database
for index, row in tqdm(data.iterrows(), total=data.shape[0], desc="Updating solar_data_3"):
    cursor.execute(insert_query, (
        row['SendDate'],
        row['Solar Power (kW)'],
        row['Solar energy Generation  (kWh)'],
        row['consumptionValue (kW)'],
        row['Device_1_Consumption (kW)'],
        row['Device_2_Consumption (kW)'],
        row['Device_3_Consumption (kW)'],
        row['Device_4_Consumption (kW)'],
        row['TOU_rates (INR)'],
        row['Predicted Solar energy Generation (kWh)'],
        row['Predicted TOU_rates (INR)'],
        row['Cummulative Energy Consumption']
    ))

# Commit the transaction
conn.commit()

# Close the cursor and connection
cursor.close()
conn.close()

print("Data updated successfully in solar_data_3!")

Data updated successfully in solar_data_3!